{% extends 'base.html.twig' %}

{% block title %}Edit ClassVehicle{% endblock %}

{% block body %}
    <h1>Edit ClassVehicle</h1>

    {{ include('class_vehicle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('class_vehicle_index') }}">back to list</a>

    {{ include('class_vehicle/_delete_form.html.twig') }}
{% endblock %}
