{% extends 'base.html.twig' %}

{% block title %}New ClassVehicle{% endblock %}

{% block body %}
    <h1>Create new ClassVehicle</h1>

    {{ include('class_vehicle/_form.html.twig') }}

    <a href="{{ path('class_vehicle_index') }}">back to list</a>
{% endblock %}
