{# Email de confirmacion para el registro #}

{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
    {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% endblock %}

{% block body_html %}
    {% embed 'layout/email.html.twig' %}
        {% block body %}
            <br/>
            {% set confirm = 'menu.login' | trans %}
            {{ 'registration.email.message' | trans({'%username%': user.username, '%confirmationUrl%': '<br /><br /><div style="text-align: center"><a href="'~confirmationUrl~'" style="padding: 15px 30px; background: green; color: white; font-size: 1.3em">' ~ confirm ~ '</a></div><br /><br />'}, 'FOSUserBundle') | raw | nl2br }}
            <br/>
        {% endblock %}
    {% endembed %}
{% endblock %}
