{# Plantilla de FOSUserBundle (Bundle que controla la gestion de usuarios) #}

{% extends 'base.html.twig' %}

{% block javascripts %}{% endblock %}

{% block body %}
    <div class="container">
        {% if app.request.hasPreviousSession %}
            {# Muestro los mensajes que hayan en la session #}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {% if message == 'registration.flash.user_created' %}
                            <div class="mensaje-success">
                                <i class="fa fa-check"></i>
                                <span>{{ message|trans({}, 'FOSUserBundle') }}</span>
                            </div>
                            <br/>
                        {% else %}
                            <span>{{ message|trans({}, 'FOSUserBundle') }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <br/>

        <div>
            {# Bloque para que las vistas hijas pongan su contenido #}
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}