{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolorem, vero fugiat saepe et, cumque dolore voluptatibus dicta laboriosam perspiciatis repellendus repellat nobis fugit neque. Nulla unde iure reprehenderit omnis?</p>
</div>
{% endblock %}
