{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Contact</h2>
    <a href="{{path('home')}}">Go home</a>
</div>
{% endblock %}
