{% extends 'base.html.twig' %} {% block stylesheets %}{% endblock %} {% block body %}
<div class="container">

    {{ render(controller('AppBundle:Vehiculo:filtro', {clase:clase_vehiculo, vehiculo: vehiculo is defined ? vehiculo.id : null})) }}

    <br/>

    <div id="div_busqueda_vehiculos">
        {% if imagenes is defined %}
            {% include 'app/vehiculo/detalles.html.twig' %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% if apartado is defined %}
    <script>
        switch ('{{apartado}}'){
            case '0':
                $("html, body").animate({scrollTop: $('#collapseImagenes').offset().top - 90});
                break;
            case '1':
                $("html, body").animate({scrollTop: $('#collapseManualesTaller').offset().top - 90});
                break;
            case '2':
                $("html, body").animate({scrollTop: $('#collapseManualesUsuario').offset().top - 90});
                break;
            case '3':
                $("html, body").animate({scrollTop: $('#collapseEsquemasElectricos').offset().top - 90});
                break;
            case '4':
                $("html, body").animate({scrollTop: $('#collapseDespieces').offset().top - 90});
                break;
            case '5':
                $("html, body").animate({scrollTop: $('#collapseVideos').offset().top - 90});
                break;
            case '6':
                $("html, body").animate({scrollTop: $('#collapseCatalogos').offset().top - 90});
                break;
            case '7':
                $("html, body").animate({scrollTop: $('#collapseFichaTecnica').offset().top - 90});
                break;
        }
    </script>
{% endif %}
<script>
    
    $(document).on('click', 'a.manual-detalles', function (e) {
        e.preventDefault();
        ruta = $(this).attr('href');
        window.open(ruta);
    });

    $(document).on('click', 'a.accordion-toggle', function (e) {
        e.preventDefault();
        $($(this).attr('href')).slideToggle();
        return false;
    });

    $('#form_busqueda_vehiculos').submit(function (e) {
        e.preventDefault();
        if (!$('#marca_vehiculo').val() || !$('#tipo_vehiculo').val() || !$('#modelo_vehiculo').val() || !$('#anno_vehiculo').val()) {
            alertify.error('{{ 'introduzca.datos.formulario' | trans }}');
            return false;
        }

        $.ajax({
            url: $(this).attr('action'),
            data: $(this).serialize(),
            method: 'post'
        }).success(function (data) {
            $('#div_busqueda_vehiculos').html(data);
        }).error(function (data) {
            console.log(data);
        });
    });
</script> {% endblock %}