{#
    Esta vista esta creada solo como ejemplo, pero asi serian las vistas de los programas, solo cambiar
    {% extends 'layout/programa/configuracion.html.twig' %}
    
    por

    {% extends 'layout/programa/ carpeta donde esta contenida .html.twig' %}
#}

{% extends 'layout/programa/configuracion.html.twig' %}

{% block contenido %}

    {# Poner el HTML deseado a mostrar #}

    <h2>Registro vehiculos</h2>
    <h3>Ejemplo de como seria la pagina (configurable)</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ipsam quod, praesentium ab harum explicabo veritatis id? Itaque reprehenderit provident ea eaque magnam voluptas quas quia voluptatum iure nam. Culpa? Lorem</p>
    <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nemo impedit natus dignissimos, suscipit aspernatur quisquam ratione. Cum architecto iure commodi incidunt eligendi adipisci voluptatem, atque expedita nihil, quia laborum! ipsum dolor sit amet, consectetur adipisicing elit. Molestias ipsam quod, praesentium ab harum explicabo veritatis id? Itaque reprehenderit provident ea eaque magnam voluptas quas quia voluptatum iure nam. Culpa? Lorem</p>
    <p> ipsum dolor sit amet, consectetur adipisicing elit. Molestias ipsam quod, praesentium ab harum explicabo veritatis id? Itaque reprehenderit provident ea eaque magnam voluptas quas quia voluptatum iure nam. Culpa? Lorem</p>
    <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate itaque iusto debitis id culpa optio, ut non architecto saepe error maxime odio, dolore neque obcaecati? Minima repudiandae distinctio a ea. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate voluptatum incidunt nobis reprehenderit repellat error vel unde vitae voluptatibus facere voluptate aliquid architecto ipsum nisi, itaque natus veritatis amet iusto? consectetur adipisicing elit. Molestias ipsam quod, praesentium ab harum explicabo veritatis id? Itaque reprehenderit provident ea eaque magnam voluptas quas quia voluptatum iure nam. Culpa? Lorem</p>
    <p>onsectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, facere, repellat veniam quas reiciendis cupiditate tempora quae tenetur, impedit in recusandae ut ex assumenda nisi fuga at odit quam! Quam. Molestias ipsam quod, praesentium ab harum explicabo veritatis id? Itaque reprehenderit provident ea eaque magnam voluptas quas quia voluptatum iure nam. Culpa? Lorem</p>
    <p>olestias ipsam quod, praesentium ab harum explicabo veritatis id? Itaque reprehenderit provident ea eaque magnam voluptas quas quia voluptatum iure nam. Culpa? Lorem</p>
{% endblock %}