{#
    Esta vista esta creada solo como ejemplo, pero asi serian las vistas de los programas, solo cambiar
    {% extends 'layout/programa/configuracion.html.twig' %}
    
    por

    {% extends 'layout/programa/ carpeta donde esta contenida .html.twig' %}
#}

{% extends 'layout/programa/configuracion.html.twig' %}

{% block contenido %}

    {# Poner el HTML deseado a mostrar #}

    <h2>Registro de vehículos</h2>
    <p>
        Registro de vehículos, es la pantalla que todo taller/mecánico necesita para tener
        siempre las documentaciones a mano, guardar las propias documentaciones, realizar
        documentaciones propias mediante fotografías. Te permite configurar los modelos de
        vehículos pensando en agilizar el trabajo de descripción de las reparaciones, para esto
        está dividida en varias partes. 
    </p>
    <p>
        En la parte superior encontramos un combo en el cual se puede seleccionar varios tipos
        de vehículos, motocicletas quads y jets.
    </p>
    <p>
        Lo primero que nos encontramos es la configuración de marcas, la cual nos permite
        registrar nuevas marcas, adjuntar a cada marca su dirección de Internet y adjuntar el
        catálogo general de la marca.
    </p>
    <p>
        El siguiente registro a configurar es tipos de vehículos, aquí es donde podremos asignar
        diferentes tipos, tales como, de carretera, custom, scooter, Racing, etc...
    </p>
    <p>
        El siguiente parámetro a configurar es grupos de vehículos, este parámetro nos ayudará
        a distinguir los diferentes modelos teniendo en cuenta el motor que llevan, sea de un
        cilindro, de 2 cilindros, o más. Grupo de vehículos también nos ayudará para programar
        los tiempos de las reparaciones dependiendo del grupo que pertenezca el vehículo.
    </p>
    <p>
        Acto seguido nos encontramos con modelos, en el cual podemos seleccionar todos los
        parámetros anteriormente descritos y el año de fabricación. En modelos mediante el
        botón de la derecha configuraciones nos permite extender los datos sobre el modelo. por
        ejemplo nos permite adjuntar el manual de usuario, el catálogo del vehículo, la ficha
        técnica, también nos permite adjuntar el esquema eléctrico, el despiece del vehículo, así
        como manuales de reparación, también nos deja adjuntar imágenes del vehículo o
        imágenes del motor que nos pueden ayudar en el futuro a realizar las reparaciones.
    </p>
{% endblock %}