{% include 'modal/contacto.html.twig' %}

<footer>
    {# *** Redes sociales *** #}
    {# TODO: poner las rutas verdaderas de las redes #}
    {# ej: <a href="//facebook.com/infotaller"><i class="fa fa-facebook"></i></a> #}
    <div class="redesSociales pull-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
    </div>

    {# *** Contactos a enviar correos *** #}
    {# Si se cambia alguno o se agregar, hay que crear las cuentas de correo en el servidor #}
    <div class="container">
        <div class="col-sm-3 col-xs-12">
            <h3>{{ 'contacto' | trans }}</h3>
            <p><i class="fa fa-envelope"></i> <a  data-toggle="modal" href="#modal_contacto" class="contacto">info@infotaller.net</a></p>
            <p><i class="fa fa-envelope"></i> <a  data-toggle="modal" href="#modal_contacto" class="contacto">despieces@infotaller.net</a></p>
            <p><i class="fa fa-envelope"></i> <a  data-toggle="modal" href="#modal_contacto" class="contacto">contactar@infotaller.net</a></p>
        </div>
        <div class="col-sm-3 col-xs-12">
            <h3>{{ 'soporte' | trans }}</h3>
            <p><i class="fa fa-envelope"></i> <a  data-toggle="modal" href="#modal_contacto" class="contacto">support@infotaller.net</a></p>
        </div>
                 
    </div>

    {# *** Informacion de footer, cambiar a conveniencia *** #}
    <div class="pieApp">
        <span>Aplicación <strong>Infotaller</strong> {{date()|date('Y')}}</span>
    </div>
</footer>
