{% include 'modal/contacto.html.twig' %}

<footer>
    <div class="redesSociales pull-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
    </div>
    <div class="container">
        <div class="col-sm-3 col-xs-12">
            <h3>{{ 'contacto' | trans }}</h3>
            <p><i class="fa fa-envelope"></i> <a  data-toggle="modal" href="#modal_contacto" class="contacto">info@infotaller.org</a></p>
            <p><i class="fa fa-envelope"></i> <a  data-toggle="modal" href="#modal_contacto" class="contacto">despieces@infotaller.org</a></p>
            <p><i class="fa fa-envelope"></i> <a  data-toggle="modal" href="#modal_contacto" class="contacto">contactar@infotaller.org</a></p>
        </div>
        <div class="col-sm-3 col-xs-12">
            <h3>{{ 'soporte' | trans }}</h3>
            <p><i class="fa fa-envelope"></i> <a  data-toggle="modal" href="#modal_contacto" class="contacto">support@infotaller.org</a></p>
        </div>
                 
    </div>
    <div class="pieApp">
        <span>Aplicación Infotaller <strong>Despiece</strong> {{date()|date('Y')}}, Alguna otra información</span>
    </div>
</footer>
